{% load static %}
<html>
    <head>
        <title>Matt R-J's CV and Blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <div class="page-header">
            {% if user.is_authenticated %}
                {% if "cv" in request.path  %}
                    <a href="{% url 'cv_new' %}" class="top-menu"><span class="fas fa-plus"></span></a>
                {% else %}
                    <a href="{% url 'blog_new' %}" class="top-menu"><span class="fas fa-plus"></span></a>
                {% endif %}

            {% endif %}
            <h1><a href={% url 'cv_list' %}>Matt R-J's CV and Blog</a></h1>
            <a class="btn btn-primary btn-lg " role="button"  href={% url 'cv_list' %}>CV</a>
            <a class="btn btn-primary btn-lg " role="button"  href={% url 'blog_list' %}>Blog</a>

{#            <button href={% url 'blog_list' %} >CV</button>#}

        </div>
        <div class="content container jumbotron">
            <div class="row" >
                <div class="col-md-12" >
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>