{% extends 'blog/base.html' %}
{% block content %}
    {% for tag in tags %}
        <h1>{{ tag }}</h1>
            {% for post in posts %}
                {% if tag == post.tag %}
                    <div class="post">
                        <div class="date">
                            {{ post.start_date }}
                             -
                            {{ post.end_date }}
                        </div>
                        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                        <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                {% endif %}
            {% endfor %}

    {% endfor %}
{% endblock %}